API_URL=""
GOOGLE_MAPS_API_KEY=""

BUNDLE_IOS_ID=""
BUNDLE_ANDROID_ID=""
APPLICATION_ID=""
APP_NAME=""
APPLE_TEAM_ID=""
PROVISIONING_IOS=""
APP_SHARED_SECRET=""
ENVIRONMENT="dev" //stating, production

## GG Admob
AD_UNIT_ID_ANDROID=""
AD_UNIT_ID_IOS=""
